body {
	font-family: 'Roboto', sans-serif;
}
.grid--content .column--wrapper {
	display: flow;
	columns: 3;
	gap: 20px;
	break-inside: avoid;
}
.post--item {
	break-inside: avoid;
	border: 1px solid grey;
}

.post--masonry {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 30px;
}

.grid--content .column--wrapper .post--item img {
	box-shadow: 0 0 3px 2px #00000021;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.grid--content .post--title {
	font-weight: bold;
	color: #1d2327;
}

.grid--content .post-user {
	margin: 10px 0;
}

.grid--content .post-user a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.grid--content .post-user img {
	border-radius: 100% !important;
	max-width: 35px;
	max-height: 35px;
	margin: 0;
	margin-bottom: 0 !important;
}

.grid--content .post-user span {
	margin-left: 10px;
	color: #949494;
	font-size: 14px;
}

.grid--content .post-user a:hover {
	background-color: #f0f0f0;
	border-radius: 50px;
}
.grid--content {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 40px;
	box-shadow: 0 0 30px 10px #00000017;
}

@supports (grid-template-rows: masonry) {
	.grid--content .column--wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: masonry;
		grid-auto-flow: dense;
		align-tracks: stretch;
		opacity: 0.2;
	}
}

@media screen and (max-width: 768px) {
	.grid--content .post-user img {
		max-width: 20px;
		max-height: 20px;
	}

	.grid--content .post-user span {
		font-size: 11px;
	}

	.grid--content .post--title {
		font-size: 12px;
	}

	.grid--content .column--wrapper {
		columns: 3;
	}
}
